.container-radio-buttons {
  display: flex;
  flex: 1;
  min-width: 165px;
}

.radio-buttons-options {
  gap: 10px;
  flex: 1;
}

.radio-buttons {
  gap: 5px;
}

@media only screen and (max-width: 461px) {
  .radio-buttons {
    margin-left: 10px;
  }
}
