.container-select-option {
  gap: 5px;
  flex: 1;
  min-width: 171px;
}

select {
  padding: 5px;
  border: 1px solid var(--backgroundSecundary);
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 460px) {
  .container-select-option {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
