.selectOptionContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  flex: 1;
  min-width: 171px;
}

.selectOptionContainer label {
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
}

select {
  padding: 5px;
  border: 1px solid var(--backgroundSecundary);
  outline: none;
  cursor: pointer;
}

select option {
  font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}

@media only screen and (max-width: 439px) {
  .selectOptionContainer {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
