.loginContainer {
  flex: 1;
  background: var(--backgroundContainers);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFormCredentils {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 25px;
}

.forgotPassword {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.inputContainer {
  position: relative;
}

.loginFormCredentils .inputErrorMessage {
  position: absolute;
  bottom: -18px;
  color: var(--errorColor);
  font-size: 13px;
}
