.loginContainer {
  flex: 1;
  background: var(--backgroundContainers);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginFormCredentils {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 25px;
}
