.bigBubble {
  background: var(--background);
  background-image: var(--backgroundImge);
  position: absolute;
  transition: 0.6s ease;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bigBubble:hover {
  transform: translateY(10px) rotate(1deg);
  box-shadow: 0 0 17px 1px rgb(0 0 0 / 30%);
}
