.container-dynamic {
  flex-basis: 900px;
  max-width: 90%;
  height: 700px;
  background: white;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.inner-container {
  width: 200%;
  height: 100%;
  background: var(--backgroundContainers);
  transition: 1s ease;
}

.center {
  flex: 1.7;
  position: relative;
  height: 100%;
  background: var(--backgroundContainers);
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .center {
    flex: 1.2;
  }
}

@media only screen and (max-width: 751px) {
  .center {
    flex: 0;
  }
}

@media only screen and (max-width: 439px) {
  .container-dinamic {
    height: 830px;
  }
}

.active {
  transform: translateX(-50%);
}

.container-form {
  width: 85%;
  height: 85%;
}

.form-title {
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

.form-description {
  line-height: 18px;
  font-weight: 400;
}

.form-description span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password {
  margin: 0 auto;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.form--inputs--gap {
  gap: 35px;
  margin-block: 25px;
}

.input__error-message {
  position: absolute;
  bottom: -18px;
  color: var(--errorColor);
}
