.container-landingPage {
  flex-basis: 900px;
  max-width: 90%;
  height: 650px;
  background: white;
  border-radius: 40px;
  gap: 1rem;
}

.logout-button {
  cursor: pointer;
  background-image: var(--backgroundImge);
  color: white;
  text-align: center;
  padding: 0.8rem 10px;
  font-weight: 500;
}

.logout-button:hover {
  box-shadow: 0 0 17px 1px rgb(0 0 0 / 20%);
}

.container-half {
  gap: 1rem;
  flex-wrap: wrap;
}
