.containerDinamic {
  width: 900px;
  height: 650px;
  background: white;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.innerContainer {
  width: 200%;
  height: 100%;
  background: var(--backgroundContainers);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
}

.center {
  flex: 1.7;
  position: relative;
  height: 100%;
  background: var(--backgroundContainers);
  overflow: hidden;
}

.active {
  transform: translateX(-50%);
}

.containerForm {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formTitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

.formDescription {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.formDescription span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.loginContainer {
  flex: 1;
  background: var(--backgroundContainers);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFormCredentils {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 25px;
}

.forgotPassword {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.inputContainer {
  position: relative;
}

.loginFormCredentils .inputErrorMessage {
  position: absolute;
  bottom: -18px;
  color: var(--errorColor);
  font-size: 12px;
}

/* --------------------------------------- */
.inputNewContainer {
  position: relative;
}

.inputNew {
  background: transparent;
  border-bottom: 1px solid var(--backgroundSecundary);
  outline: none;
}

.inputNew:focus {
  outline: none;
}

.inputNewContainer .inputNew ~ label {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease;
  font-size: 17px;
  padding-inline: 5px;
}

.inputNew:focus ~ label,
.inputNew:not(:placeholder-shown) ~ label {
  color: var(--background);
  background: var(--backgroundContainers);
  font-size: 11px;
  transform: translateX(5px) translateY(-20px);
}


